body {
    background-image: linear-gradient(rgb(225,225,225),rgb(215,220,255));
}
h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 40px;
    margin-bottom: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    text-align: center;
}


.Mainbox  {
    height: calc(100% - 200px);
    min-width: 80%;
    width: 650px;
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    overflow-y: auto;
}

.Post  {
    background-color: white;
    min-height: 38%;
    height:350px;
    margin: 50px;
    margin-top: 75px;
    margin-bottom: 25px;
    max-height: 100%;
    width: 350px;
    max-width: 100%;
    border-radius: 30px;
    overflow-y: auto;
}

.Author {
    width: 100%;
    position: sticky;
    top: calc(100% - 50px);
    height: 100px;
    max-height: 22%;
    border-radius: 30px;
    background-color: rgb(230,230,230);
}
.Author img {
    height: 90%;
    width: 70px;
    top:5%;
    left: 5px;
    position: relative;
    border-radius: 100%;
}
.PContent {

}